<% project = data.projects.find { |p| p.id == project_id } %>
<div class="container">
  <div class="d-flex align-item-center justify-content-between">
    <div>
      <span class="project-name-heading"><%= "#{project.name}" %></span>
    </div>
    <div>
      <% link_to project.github, class: 'external-link', target: '_blank' do %>
        <i class="fa-brands fa-github fa-xl"></i>
      <% end %>
      <% if project.online? %>
        <% link_to project.url, class: 'external-link', target: '_blank' do %>
          <i class="fas fa-external-link-alt fa-xl"></i>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="custom-margin">
    <div class="paragraph"><span class="project-descriptions">Description </span><span> | <%= project.description %></span>
      <span class="project-descriptions">Tech Stack </span><span> | <%= project.tech_stack %></span>
      <span class="project-descriptions">Role </span><span> | <%= project.role %></span>
      <span class="project-descriptions">Team </span><span> | <%= project.team %></span>
    </div>

    <div>
      <div class="frame custom-margin40">
        <iframe class="responsive-iframe" src=<%= "#{project.video}" %> frameborder="0" allowfullscreen></iframe>
      </div>

      <div class="device-wrapper custom-margin40 custom-margin-bottom">
        <div class="device" data-device="iMac" data-orientation="portrait" data-color="black">
          <div class="screen">
            <!-- PUT CONTENTS HERE -->
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <%= image_tag project.image.first, style: 'height:100%;width:100%;', alt: "project image" %>
                </div>
                <% project.image[1...-1].each do |image| %>
                  <div class="carousel-item">
                    <%= image_tag image, style: 'height:100%;width:100%;', alt: "project image" %>
                  </div>
                <% end %>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
            <%#= image_tag project.image, alt: "project image" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
